.App{
  width: 50%;;
  margin: auto;
  text-align: center;
}

.App button{
  color: white;
  background-color: teal;
  border: none;
  padding: 10px 20px;
border-radius: 10px;
}

.App h1{
  color: red;
}