
.App{
  width: 30%;
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 50px;
}

.App h2,h1{
width: 30%;
border: 1px solid black;
padding: 2px 10px;
margin-left: 100px;
color: teal;
font-size: 25px;
border-radius: 10px;
background-color: rgb(200, 245, 245);
cursor: pointer;
transition: 1.0s linear ;
}
.App h2:hover{
  color: rgb(246, 246, 250);
  background-color: teal;

}

.App h1:hover{
  color: rgb(248, 248, 252);
  background-color: teal;
}

.App table{
  /* border: 1px solid red; */
  
  width: 100%;
  text-align: center;
}






.App table tbody tr{
  background-color: rgb(236, 215, 215);
  font-size: 10px;
   
}


